ResolverEcuacionCuadratica.Test.Wcf/Service References/SICuadratica/ResolverEcuacionCuadratica.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ResolverLaEcuacionCuadratica">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primerNumero" type="xs:double" />
        <xs:element minOccurs="0" name="segundoNumero" type="xs:double" />
        <xs:element minOccurs="0" name="tercerNumero" type="xs:double" />
        <xs:element minOccurs="0" name="primeraRaiz" type="xs:double" />
        <xs:element minOccurs="0" name="segundaRaiz" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResolverLaEcuacionCuadraticaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeraRaiz" type="xs:double" />
        <xs:element minOccurs="0" name="segundaRaiz" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>